@tailwind base;
@tailwind components;
@tailwind utilities;

.text-border-white {
  text-shadow: 1px 1px 0px rgb(255, 255, 255), -1px -1px 0px rgb(0, 0, 0),
    1px -1px 0px rgb(255, 255, 255), -1px 1px 0px rgb(255, 255, 255);
}

.text-border-black {
  text-shadow: 1px 1px 1px rgb(0, 0, 0), -1px -1px 1px rgb(0, 0, 0),
    1px -1px 1px rgb(0, 0, 0), -1px 1px 1px rgb(0, 0, 0);
}

.box-shadow-black {
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.75);
}

.img-border-black {
  border-radius: 15px;
  border-width: 3px;
  border-color: rgb(0, 0, 0);
  border-style: Solid;
}
.footer-top {
  overflow-wrap: break-word;
  text-align: center;
}
.footer-pages {
  display: inline-flex;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  height: 30px;
  color: #ffffff;
  letter-spacing: 1px;
  background-color: #bf7a9b;
  border: 2px solid rgb(0, 0, 0);
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}
@font-face {
  font-family: "RobotoSlab";
  src: url(./assets/font/1Professional/RobotoSlab/RobotoSlab-Regular.ttf)
    format("truetype");
}

@font-face {
  font-family: "Scheherazade_New";
  src: url(./assets/font/1Professional/Scheherazade_New/ScheherazadeNew-Regular.ttf)
    format("woff2");
}
@font-face {
  font-family: "Tinos";
  src: url(./assets/font/1Professional/Tinos/Tinos-Regular.ttf)
    format("truetype");
}
@font-face {
  font-family: "Delicious_Handrawn";
  src: url(./assets/font/2Calm/Delicious_Handrawn/DeliciousHandrawn-Regular.ttf)
    format("truetype");
}
@font-face {
  font-family: "SourGummy";
  src: url(./assets/font/2Calm/Sour_Gummy/SourGummy-VariableFont_wdth_wght.ttf)
    format("truetype");
}
@font-face {
  font-family: "Atma";
  src: url(./assets/font/3Cute/Atma/Atma-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Jumble";
  src: url(./assets/font/3Cute/Jumble/Jumble.ttf) format("truetype");
}

@font-face {
  font-family: "Ravie";
  src: url(./assets/font/4Playful/Ravie/Ravie.ttf) format("truetype");
}

@font-face {
  font-family: "Rosewood_Std";
  src: url(./assets/font/4Playful/Rosewood_Std/Rosewood_Std_Regular.ttf)
    format("truetype");
}
